h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: rgb(6, 70, 70);
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    color: rgb(6, 70, 70);
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    color: rgb(233, 250, 250);
    border: solid white;
    background-color: rgb(15, 190, 190);
    padding: 5px;
}

p {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: rgb(6, 70, 70);
}

body {
    background-color: rgba(15, 190, 190, .2);
}

nav {
    border: solid white;
    background-color: rgb(15, 190, 190);
    padding: 5px;
}

button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    padding: 0.5em;
    width: 7em;
    border-radius: 15px;
    -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
}

.buttonOne {
    background-color: rgb(233, 250, 250);
}

a {
    color: darkblue;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

.textBox {
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 2px;
    padding-right: 20px;
    background-color: rgba(233, 250, 250, 0.8);
    width: 1000px;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 3px 3px #0fbebe;
    -webkit-box-shadow: 3px 3px 3px 3px #0fbebe;
    box-shadow: 3px 3px 3px 3px #0fbebe;
    clear: both;
}

.header {
    border: solid white;
    background-color: rgb(15, 190, 190);
    width: 1417px;
}

footer {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: rgb(6, 70, 70);
    background-color: white;
    text-align: center;
    padding-top: 1px;
    clear: both;
}

img.Rachel {
    width: 300px;
    border: white solid;
    position: absolute;
    -moz-box-shadow: 3px 3px 3px 3px #0fbebe;
    -webkit-box-shadow: 3px 3px 3px 3px #0fbebe;
    box-shadow: 3px 3px 3px 3px #0fbebe;
}

img.US {
    width: 300px;
    border: white solid;
    -moz-box-shadow: 3px 3px 3px 3px #0fbebe;
    -webkit-box-shadow: 3px 3px 3px 3px #0fbebe;
    box-shadow: 3px 3px 3px 3px #0fbebe;
}

img.kids {
    width: 300px;
    border: white solid;
    -moz-box-shadow: 3px 3px 3px 3px #0fbebe;
    -webkit-box-shadow: 3px 3px 3px 3px #0fbebe;
    box-shadow: 3px 3px 3px 3px #0fbebe;
}

img.kids2 {
    width: 300px;
    border: white solid;
    -moz-box-shadow: 3px 3px 3px 3px #0fbebe;
    -webkit-box-shadow: 3px 3px 3px 3px #0fbebe;
    box-shadow: 3px 3px 3px 3px #0fbebe;
}

li {
    display: inline-block;
    list-style-type: none;
}

aside {
    float: right;
    display: block;
    margin-right: 350px;
}

.fam {
    width: 200px;
    padding: 10px;
}

figcaption {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: rgb(6, 70, 70);
}
